body {
    background-color: #101010;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    background-color: #777;
}

a {
    text-decoration: none;
    color: #ff9900;
}
a:hover, a:focus {
    color: #ffad33;
}

div h2:first-child {
    padding-top: 0.2em
}

div h2:not(:first-child) {
    padding-top: 1em
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px minmax(0, 1fr) 40px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
    width: 100vw;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center; /* Vertical center alignment */
    background-color: #444;
    color: #bbb;
    gap: 10px;
    padding: 30px;
}

.header > #username {
    margin-left: auto;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    background-color: #111;
    color: #222;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 3fr 120px 3fr 2fr;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "script_code_header script_buttons_header script_output_header help_header"
    "script_code script_buttons script_output help";
    padding-left: 10px;
    padding-right: 10px;
}

.script_code_header {
    grid-area: script_code_header;
}

.script_buttons_header {
    grid-area: script_buttons_header;
}

.script_output_header {
    grid-area: script_output_header;
}

.help_header {
    grid-area: help_header;
}

.script_code_header,.script_buttons_header,.script_output_header,.help_header {
    text-align: center;
    color: #bbb;
    padding: 0.3em;
    font-size: 24px;
}

.script_code_header,.script_buttons_header,.script_output_header,.help_header,.script_buttons {
    background-color: #171717;
}

.script_code {
    grid-area: script_code;
}

.script_buttons {
    grid-area: script_buttons;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.script_output {
    grid-area: script_output;
}

.help {
    grid-area: help;
    padding-left: 20px;
    padding-right: 20px;
    color: #bbb;
    min-height: 0px;
    overflow-y: scroll;
}

.content textarea {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #000;
    color: #aaa;
    border: 0px;
    padding: 20px;
}